::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.3em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -0.8em; margin-top: -4px;}


.menu-buscar{
  /* background-color: #E0E0E0; */
  width: 300px;
  padding-top: 15px;
  margin-top: 0px;
  color: #0d2b0a;
  border-radius: 40px;

}

.search-geo{
  /* background-color: #dfa832; */
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

}

.link-search{
  /* background-color: aliceblue; */
  margin-top: 7px;
}

.ico-search{
  font-size: 35px;
  color: #0d2b0a;
  margin-top: -15px;
}
