<mat-drawer-container class="map-container" autosize>
  <!-- menu de navegación lateral -->
  <mat-drawer #drawer class="map-nav" mode="over">
    <mat-toolbar class="opcion-nav"> <strong>BOL-110 </strong> </mat-toolbar>
    <mat-divider class="nav-div"></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" *ngFor="let dato of datosItem; let num = index" (click)= "enviarParametros(dato, num+1)">
        <!-- <a mat-list-item  (click)= "enviarParametros('EPI-5', 3)"> -->
        <mat-icon matListIcon >layers</mat-icon>
        <p  >{{dato}}</p>
        <!-- <button>{{dato}}</button> -->
      </a>
    </mat-nav-list>
    <mat-divider class="nav-div"></mat-divider>
    <!-- <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar class="menu-admin" >
      <form class="map-form" [formGroup]= "options" [style.fontSize.px]= "getFontSize()">
        <mat-nav-list>
          <a class="link-menu" mat-list-item routerLinkActive = "active" (click)="drawer.toggle()">
            <mat-icon class="logueo-icon" aria-hidden="false" aria-label="Example heart icon">menu</mat-icon>
          </a>
        </mat-nav-list>

        <app-searchgeo ></app-searchgeo>
      </form>

        <span class="example-spacer"></span>
        <span>SISTEMA DE GEOLOCALIZACION BOL-110 COCHAkBAMBA</span>
        <span class="example-spacer"></span>
        <button mat-fab color="accent">
          <mat-icon class="logueo-icon" aria-hidden="false" aria-label="Example heart icon">account_circle</mat-icon>
        </button>

    </mat-toolbar>

    <!-- <div id="map911">

    </div>
    <pre id="coordinates" class="coordinates"></pre> -->
    <app-panelmap></app-panelmap>

  </mat-drawer-content>


</mat-drawer-container>


