
<mat-toolbar class="barra-menu">

  <mat-toolbar-row>
    <!-- <mat-icon><img src="./../../../../assets/img/map.ico" alt=""></mat-icon> -->

    <span class="menu-spacer"></span>
    <span>SISTEMA DE GEOLOCALIZACION <strong> BOL-110 </strong>COCHABAMBA</span>
    <span class="menu-spacer"></span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
  </mat-toolbar-row>

</mat-toolbar>

<div class="portada">
  <!-- <label for="">
    <strong>SISTEMA DE GEOLOCALIZACION UTEPPI-CBBA.</strong>
  </label> -->

  <!-- <div class="container"> -->


  <img src="../../../../assets/img/polbol.png" alt="50">
  <h1>POLICIA BOLIVIANA</h1>
  <h2>COMANDO DEPARTAMENTAL DE COCHABAMBA</h2>
  <!-- <div class="login" > -->
    <mat-card  class="form-access">
      <mat-card-header  class="target">

        <mat-card-title class="titulo"><p>Acceso al sistema</p> </mat-card-title>

      </mat-card-header >

      <mat-card-content>

        <app-user-logged></app-user-logged>

      </mat-card-content>

    </mat-card>

</div>

<!-- </div> -->
