/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-input-wrapper{
  width:400px !important;
}


/* ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.3em 100px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -0.8em; margin-top: -4px;} */

/* ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
} */



.marker {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.marker .markerTtool {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #111010;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.marker .markerTtool::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.marker:hover .markerTool {
  visibility: visible;
}
